@import "tailwindcss";

body {
  font-family: 'Geist', sans-serif;
  background-color: #10131a;
  color: #e1e2ec;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.font-mono-code {
  font-family: 'Geist Mono', monospace;
}

.bg-surface-level-1 {
  background-color: #12121a;
  border-color: #1f1f2e;
}

.hover-surface-level-1:hover {
  background-color: #1a1a24;
}

/* Minimal Scrollbar for Dashboard */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #32353c;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #424754;
}
